@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#4b6cb7, #182848);
}

.err {
    color: red;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

.wrap {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
}

.wrap h1 {
    font-size: 36px;
    text-align: center;
}

.wrap .box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    display: flex;
}

.box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.box select {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0px 20px;
}

.box select option {
    background-color: #fff;
    color: #333;
}

.box i {
    align-self: center;
}

.box input::placeholder {
    color: #fff;
}

.remember label input {
    color: #fff;
    margin-right: 3px;
}

.wrap .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrap .remember {
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.right {
    margin-right: 200px;
}

.right h1 {
    color: #fff;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    text-align: center;
}

.right h1 span {
    font-size: 40px;
}

.right img {
    width: 300px;
    height: auto;
}
