/* Styles pour l'icône de notification */
.notification-icon {
    cursor: pointer;
}

.notification-badge {

    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Styles pour la liste des notifications */
.notification-list {
    position: absolute;
    top: 40px;
    right: 0;
    width: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow: hidden;
    animation: fadeIn 0.3s ease-in-out;
}

.notification-list h4 {
    margin: 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.notification-list p {
    padding: 10px;
    margin: 0;
    text-align: center;
    color: #666;
    font-size: 14px;
}

.notification-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}

.notification-list ul li {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.notification-list ul li:hover {
    background-color: #f1f1f1;
}

.notification-list ul li.unread {
    background-color: #f9f9f9;
    font-weight: bold;
}

/* Animation d'apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.config{
    display: flex;
    gap: 1rem;
}
